﻿<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    @RenderSection("Styles", required: false)
</head>
    <body>
        <div id="wrapper" class="d-flex flex-column min-vh-100">
            <div id="header" class="bg-info">
            </div>
            <div class="d-flex flex-row flex-fill w-100">
                <div id="side" class="side d-flex flex-column " style="font-size:0.9em;">
                </div>
                <div id="content" class="flex-fill" style="font-size:0.9em;">
                    @RenderBody()
                </div>
            </div>
            <div id="footer">
            </div>
        </div>
        
        @{ 
            var claim = User.Claims.FirstOrDefault(c => c.Type == System.Security.Claims.ClaimTypes.Role);
            var roleId = "";
            var name = "";
            if (claim != null) roleId = claim.Value;

            claim = User.Claims.FirstOrDefault(c => c.Type == System.Security.Claims.ClaimTypes.Name);
            if (claim != null) name = claim.Value;
                
        }

        <script>
            var gRoleId = "@roleId";
            var gName = "@name";
        </script>
        
        <script type="text/javascript" src="~/scripts/dist/layout.js"></script>
        @RenderSection("Scripts", required: false)
    </body>
</html>