﻿<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <div id="wrapper" class="d-flex flex-column min-vh-100">
        <div id="header" class="bg-info">
        </div>
        <div class="d-flex flex-row flex-fill w-100">
            <div id="side" class="side d-flex flex-column ">
            </div>
            <div id="content" class="flex-fill">
                @RenderBody()
            </div>
        </div>
        <div id="footer">

        </div>
    </div>
    <script>
        var gRoleId = "";
        var gName = "";
    </script>
    <script type="text/javascript" src="~/Scripts/dist/layout2.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>