﻿@if (!String.IsNullOrEmpty((String)TempData["success_message"]))
{
    <div class="alert alert-success m-1" role="alert">
        @((String)TempData["success_message"])
    </div>
}
@if (!String.IsNullOrEmpty((String)TempData["error_message"]))
{
    <div class="alert alert-danger m-1" role="alert">
        @((String)TempData["error_message"])
    </div>
}