﻿@using Microsoft.AspNetCore.Http;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    String[] shapeCategoryParameters = ViewBag.ShapeCategoryParameters;
}


@for (int i = 0; i < shapeCategoryParameters.Length; i++)
{
    String parameter = shapeCategoryParameters[i].Trim();
    <div class="row m-1">
        <div class="col-4 text-right">
            @shapeCategoryParameters[i]
        </div>
        <div class="col-8">
            <input id="@parameter" name="@parameter" class="form-control valid"
                   type="text" data-val="true" data-val-required="@parameter is required." aria-describedby="@parameter-error" aria-invalid="false"/>            
        </div>
    </div>    
    <div class="row m-1">
        <div class="col-4 text-right">
        </div>
        <div class="col-8">
            <span class="text-danger field-validation-valid" data-valmsg-for="@parameter" data-valmsg-replace="true"></span>
        </div>
    </div>
}

