﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model prjCMS.Models.Views.UserShape.UserShapeCreateViewModel

<partial name="_MessageDisplayPartial" />
<div id="viewContent" class="container-fluid">
    <div class="row">
        &nbsp;
    </div>
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#addModal">
                <i class="fa fa-plus"></i>
                Add New Shape
            </button>
        </div>
    </div>
    <div class="row">
        &nbsp;
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col">
            <table id="example" class="table table-striped table-bordered" style="width:100%">
                <thead class="text-white" style="background-color:#7386D5">
                    <tr>
                        <th>Name</th>
                        <th>Required Parameter</th>
                        <th>Area Formula</th>
                        <th>Required Parameter Value</th>
                        <th>Area Value</th>
                        <th>Created By</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div id="editModalContent"></div>

<partial name="_CreateUserShapePartial" model="Model" />
<partial name="_DeleteUserShapePartial"/>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
$(document).ready(function () {
            $('#example').DataTable({
                dom: "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6' <'float-right'f>>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'  <'float-right'p>>>",
                processing: true,
                serverSide: true,
                async: true,
                ajax: {
                    "url": "/UserShape/DataTable",
                    "type": "POST",
                    "datatype": "json"
                },
                language: {
                    lengthMenu: "_MENU_",
                    search: "_INPUT_",
                    searchPlaceholder: "Name"
                },

                columns: [
                    { "data": "name", "name": "Name", "autoWidth": true },
                    { "data": "requiredParameter", "name": "RequiredParameter", "autoWidth": true },
                    { "data": "areaFormula", "name": "AreaFormula", "autoWidth": true },
                    { "data": "requiredParameterValue", "name": "RequiredParameterValue", "autoWidth": true },
                    { "data": "areaValue", "name": "AreaValue", "autoWidth": true },
                    { "data": "createdBy", "name": "CreatedBy", "autoWidth": true },
                    { "data": "action", "name": "Action", "autoWidth": true },
                ]
            });

            $('#addModal').on('show.bs.modal', function () {
                $('#Name').val("");
                $('#RequiredParameter').val("");
                $('#AreaFormula').val("");
            })

        });

        $(document).on('click', '.btnDeleteUserShape', function (event) {
            var $url = $(this).attr('href');
            var $name = $(this).data('name');
            $('#deleteModal form').attr('action', $url);
            $('#deleteModal .modal-body').html('Do you want to delete user shape "' + $name + '" ?');
        });

        $('#ShapeCategory').on('change', function () {
            var shapeCategoryId = $(this).val();
            var $url = "@ViewBag.shapeCategoryParameterUrl" + "?pId=" + shapeCategoryId;

            if (shapeCategoryId != "") {
                $.ajax({
                    method: 'GET',
                    url: $url,
                    error: function (html) {
                        alert('error');
                    },
                    success: function (html) {
                        $('#addModal #shapeCategoryParameter').html(html);

                        var $form = $("#frmAddUserShape");
                        $form.removeData("validator").removeData("unobtrusiveValidation");
                        $.validator.unobtrusive.parse($form);
                    }
                });
            } else {
                $('#addModal #shapeCategoryParameter').html("");
            }
        });

    </script>
}




