﻿@model prjCMS.Models.Views.User.UserEditViewModel;

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary" id="editModalLabel">Edit User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="frmEditUser" method="post" asp-controller="User" asp-action="Edit" asp-route-pId="@Model.Id">
                <div class="modal-body">
                    <div class="row m-1">
                        <div class="col-4 text-right">
                            Name
                        </div>
                        <div class="col-8">
                            <input asp-for="Name" class="form-control" placeholder="Name" />
                        </div>
                    </div>
                    <div class="row m-1">
                        <div class="col-4"></div>
                        <div class="col-8">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row m-1">
                        <div class="col-4 text-right">
                            Username
                        </div>
                        <div class="col-8">
                            <input asp-for="Username" class="form-control" placeholder="Username" />
                        </div>
                    </div>
                    <div class="row m-1">
                        <div class="col-4"></div>
                        <div class="col-8">
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                    </div>
                    
                    <div class="row m-1">
                        <div class="col-4 text-right">
                            Role
                        </div>
                        <div class="col-8">
                            <select asp-for="Role" asp-items="Model.Roles" class="form-control"></select>
                        </div>
                    </div>
                    <div class="row m-1">
                        <div class="col-4"></div>
                        <div class="col-8">
                            <span asp-validation-for="Role" class="text-danger"></span>
                        </div>
                    </div>

                    <br /><br />
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">
                            Save
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>