﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model prjCMS.Models.Views.User.UserCreateViewModel;


<partial name="_MessageDisplayPartial" />
<div id="viewContent" class="container-fluid">
    <div class="row">
        &nbsp;
    </div>
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#addModal">
                <i class="fa fa-plus"></i>
                Add User
            </button>
        </div>
    </div>
    <div class="row">
        &nbsp;
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col">
            <table id="example" class="table table-striped table-bordered" style="width:100%">
                <thead class="text-white" style="background-color:#7386D5">
                    <tr>
                        <th>Name</th>
                        <th>Username</th>
                        <th>Role</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div id="editModalContent"></div>
<partial name="_CreateUserPartial" model="Model" />
<partial name="_DeleteUserPartial" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                dom: "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6' <'float-right'f>>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'  <'float-right'p>>>",
                processing: true,
                serverSide: true,
                async: true,
                ajax: {
                    "url": "/User/DataTable",
                    "type": "POST",
                    "datatype": "json"
                },
                language: {
                    lengthMenu: "_MENU_",
                    search: "_INPUT_",
                    searchPlaceholder: "Username"
                },

                columns: [
                    { "data": "name", "name": "Name", "autoWidth": true },
                    { "data": "username", "name": "Username", "autoWidth": true },
                    { "data": "role", "name": "Role", "autoWidth": true },
                    { "data": "action", "name": "Action", "autoWidth": true },
                ]
            });

            $('#addModal').on('show.bs.modal', function () {
                $('#Name').val("");
                $('#Username').val("");
                $('#Password').val("");
                $('#Confirm').val("");
                $('#Role').val("1");
            })

        });

        $(document).on('click', '.btnEditUser', function (event) {
            event.preventDefault();

            var $url = $(this).attr('href');
            $.ajax({
                method: 'GET',
                url: $url,
                error: function (html) {
                    alert('error');
                },
                success: function (html) {
                    $('#editModalContent').html(html);
                    $.validator.unobtrusive.parse("#frmEditUser");
                    $('#editModal').modal('show');
                }
            });
        });

        $(document).on('click', '.btnDeleteUser', function (event) {
            var $url = $(this).attr('href');
            var $name = $(this).data('name');
            $('#deleteModal form').attr('action', $url);
            $('#deleteModal .modal-body').html('Do you want to delete user "' + $name + '" ?');
        });        

    </script>
}




