﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout2";
    @model prjCMS.Models.Views.User.UserLoginViewModel;
}

<div id="viewContent" class="d-flex align-content-start justify-content-center flex-wrap h-100">
    <div class="card w-50" style="margin-top:4em">
        <div class="card-header text-center">
            <img src="/images/user.png" />
            <div class="card-title">User Login</div>
        </div>
        <div class="card-body">
            <form method="post" asp-controller="User" asp-action="Login" style="margin:10px 80px 30px 80px;">
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group">
                            <button class="btn btn-outline-secondary" type="button" tabIndex="-1">
                                <i class="fa fa-envelope"></i>
                            </button>
                        </span>
                    </div>
                    <input asp-for="Username" class="form-control" placeholder="Username" />
                </div>
                <span asp-validation-for="Username" class="text-danger"></span>

                <div class="input-group">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-secondary" type="button" tabIndex="-1">
                            <i class="fa fa-lock" style="font-size:1.4em"></i>
                        </button>
                    </div>
                    <input asp-for="Password" class="form-control" placeholder="Password" />
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>

                <partial name="_MessageDisplayPartial" />

                <div>&nbsp;</div>
                <button class="btn btn-primary form-control" type="submit">
                    Login
                </button>

                <br/><br/>
                <a href="/User/SignUp" class="form-control text-center"> >>> Student SignUp Here.</a>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}



