﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout2";
    @model prjCMS.Models.Views.User.UserCreateViewModel;
}

<div id="viewContent" class="d-flex align-content-start justify-content-center flex-wrap h-100">
    <div class="card w-50" style="margin-top:4em">
        <div class="card-header text-center">
            <img src="/images/user.png" />
            <div class="card-title">Student SignUp</div>
        </div>
        <div class="card-body">
            <form method="post" asp-controller="User" asp-action="Signup">
                <div class="row m-1">
                    <div class="col-4 text-right">
                        Name
                    </div>
                    <div class="col-8">
                        <input asp-for="Name" class="form-control" placeholder="Name" />
                    </div>
                </div>
                <div class="row m-1">
                    <div class="col-4"></div>
                    <div class="col-8">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>

                <div class="row m-1">
                    <div class="col-4 text-right">
                        Username
                    </div>
                    <div class="col-8">
                        <input asp-for="Username" class="form-control" placeholder="Username" />
                    </div>
                </div>
                <div class="row m-1">
                    <div class="col-4"></div>
                    <div class="col-8">
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                </div>

                <div class="row m-1">
                    <div class="col-4 text-right">
                        Password
                    </div>
                    <div class="col-8">
                        <input asp-for="Password" class="form-control" placeholder="Password" />
                    </div>
                </div>
                <div class="row m-1">
                    <div class="col-4"></div>
                    <div class="col-8">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>

                <div class="row m-1">
                    <div class="col-4 text-right">
                        Confirm Password
                    </div>
                    <div class="col-8">
                        <input asp-for="Confirm" class="form-control" placeholder="Confirm Password" />
                    </div>
                </div>
                <div class="row m-1">
                    <div class="col-4"></div>
                    <div class="col-8">
                        <span asp-validation-for="Confirm" class="text-danger"></span>
                    </div>
                </div>

                <partial name="_MessageDisplayPartial" />

                <br /><br />
                <button type="submit" class="btn btn-primary form-control">
                    Submit
                </button>
                <br /><br />
                <a href="/User/Login" class="form-control text-center"> <<< Back to Login Page</a>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}



