﻿@model prjCMS.Models.ShapeCateogry;

<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary" id="addModalLabel">Add Shape Category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" asp-controller="ShapeCategory" asp-action="Create">
                <div class="modal-body">
                    <div class="row m-1">
                        <div class="col-4 text-right">
                            Name
                        </div>
                        <div class="col-8">
                            <input asp-for="Name" class="form-control" placeholder="Name" />
                        </div>
                    </div>
                    <div class="row m-1">
                        <div class="col-4"></div>
                        <div class="col-8">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row m-1">
                        <div class="col-4 text-right">
                            Required Parameter
                        </div>
                        <div class="col-8">
                            <input asp-for="RequiredParameter" class="form-control" placeholder="Required Parameter" />
                        </div>
                    </div>
                    <div class="row m-1">
                        <div class="col-4"></div>
                        <div class="col-8">
                            <span asp-validation-for="RequiredParameter" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row m-1">
                        <div class="col-4 text-right">
                            Area Formula
                        </div>
                        <div class="col-8">
                            <input asp-for="AreaFormula" class="form-control" placeholder="Area Formula" />
                        </div>
                    </div>
                    <div class="row m-1">
                        <div class="col-4"></div>
                        <div class="col-8">
                            <span asp-validation-for="AreaFormula" class="text-danger"></span>
                        </div>
                    </div>

                    <br /><br />
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">
                            Save
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>