﻿.header {
    padding:10px;
    color: white;
    background-color: #1d115a;
    font-size :1.5em;
}

.logput{
    font-size: 0.6em;
    text-decoration: none;
    color: white;

    &:hover {
        text-decoration: none;
        color: white;
    }
}
