﻿a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;

    &.dropdown-toggle::after {
        margin-top: -5px;
        border: none !important;
        font: normal normal normal 14px/1 FontAwesome;
        color: #fff;
        content: "\f0d7" !important; /* the desired FontAwesome icon */
    }
}

.side {
    min-width: 200px;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;

    &>ul{
        margin-top:20px;
    }

    ul {
        ul {
            a {
                padding-left: 30px !important;
                font-size: 0.9em !important;
                background: #6d7fcc;
            }
        }

        li {
            a {
                padding: 5px;
                display: block;
                color: #fff;
                text-decoration: none;
                transition: all 0.3s;

                i {
                    color: white;
                    padding: 5px;
                }

                &:hover {
                    // color: #7386D5;
                    color: #fff;
                    background: #6146e7;
                }

                &[data-toggle="collapse"] {
                    position: relative;
                }

                &.dropdown-toggle::after {
                    //display: block;
                    position: absolute;
                    top: 50%;
                    right: 20px;
                    //transform: translateY(-50%);
                }

                &[aria-expanded="false"] {
                    &.dropdown-toggle::after {
                        margin-top: -5px;
                        border: none !important;
                        font: normal normal normal 14px/1 FontAwesome;
                        color: #fff;
                        content: "\f0da" !important; /* the desired FontAwesome icon */
                    }
                }
            }

            &.active {
                > a {
                    color: #fff;
                    background: #6d7fcc; //highlight active link => ul li.active > a
                }
            }
        }
    }
}
